#watchicon{
    width: 40px;
    height: 40px;
}
#deleteicon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
body{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    
}
.time__container{
    display: flex;
    font-size: 60px;
    justify-content: center;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 20px;
}
.Btn__container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Btn__container > button{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #FFFDF0;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}
.record__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 350px;
}
#record__header{
    background-color: #9AA6B2;
}
tr{
    width: 300px;
    height: 20px;
}
td{
    display: flex;
    gap: 110px;
    width: 300px;
    height: 20px;
}
input{
    border-bottom: 1px solid black;
    background-color: #FFFDF0;
    text-align: center;
}