{% extends 'base.html' %}

{% block content %}
<h1 class="my-4 text-center"">Movie Reviews</h1>
<div class="text-end mb-3">
    <a href="{% url 'review_create' %}" class="btn btn-primary">새 글 쓰기</a>
</div>
<div class="row">
    {% for review in reviews %}
    <div class="col-md-4">
        <div class="card mb-4">
            {% if review.image %}
            <img src="{{ review.image.url }}" class="card-img-top" alt="{{ review.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ review.title }}</h5>
                <p class="card-text">{{ review.genre }} | {{ review.release_year }}</p>
                <p class="card-text"><strong>Rating:</strong> {{ review.rating }} / 10</p>
                <a href="{% url 'review_detail' review.pk %}" class="btn btn-outline-secondary">더보기</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
