{% extends 'base.html' %}

{% block content %}
<div class="my-4">
    <a href="{% url 'review_list' %}" class="btn btn-outline-secondary mb-3">전채 목록</a>
    <div class="card" style="display: flex; flex-direction: row; align-items: center;">
        <div class="card-body">
            {% if review.image %}
            <img src="{{ review.image.url }}" class="card-img-top" alt="{{ review.title }}" style="max-width: 300px; height: auto;">
            {% endif %}
        </div>

        <div class="card-body">
            <h2 class="card-title">{{ review.title }}</h2>
            <p class="card-text"><strong>감독:</strong> {{ review.director }}</p>
            <p class="card-text"><strong>배우:</strong> {{ review.cast }}</p>
            <p class="card-text"><strong>장르:</strong> {{ review.genre }}</p>
            <p class="card-text"><strong>개봉 연도:</strong> {{ review.release_year }}</p>
            <p class="card-text"><strong>러닝타임:</strong> {{ review.runtime_in_hours }}</p>
            <p class="card-text"><strong>별점(10점만점):</strong> {{ review.rating }} / 10</p>
            <p class="card-text"><strong>감상평:</strong> {{ review.review_text }}</p>
            <div class="mt-4">
                <a href="{% url 'review_edit' review.pk %}" class="btn btn-warning">수정</a>
                <form action="{% url 'review_delete' review.pk %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">삭제</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
